body {
    background-color: #fafafa !important;
    /* height: 100vh; */
}

html {
    min-height: 100vh;
}

/* .customnavbar {
    background-color: #C0CBC5 !important;

} */

.customnavbar a {
    /* color: white; */
    font-weight: 600;
}

.header {
    min-height: 400px;
}

.jumbotron {
    /* background-color: #2b5559b5; */
    padding: 40px;
    border-radius: 5px;
    color: black;
}

.profilbild {
    height: 400px;
    border-radius: 50%;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;

}

.profilbild:hover {
    opacity: 0.8;
}

.profilbildcontainer {
    display: flex;
    justify-content: flex-end;

}

.kurvbild1 {
    width: 100%;
}

.about {
    background-color: #fddc7a;
    height: 300px;
}

.symbolcontainer {
    background-color: #fddc7a;
    height: 200px;
}

.backgroundcolor {
    background-color: #fddc7a;
    margin-bottom: 0px;
    padding-bottom: 50px;
}

footer {
    background-color: #b0b0b0;
}

.iconlink {
    text-decoration: none;
    font-size: 30px;
    color: white;
    /* padding: 50px; */
}

.contectinformation {
    padding-left: 50px;
}

@media (max-width: 991px) {
    .profilbild {
        height: 300px;
    
    }
}

@media (max-width: 768px) {
    .profilbildcontainer {
        display: flex;
        justify-content: center;
    }
}
